@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "./styles/usfq.tokens.css";
@import "./styles/fonts.css";
/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* src/index.css */

@layer base {
  html, body, #root {
    height: 100%;
  }
  body {
    margin: 0;
    background-color: #000;
    font-family: "USFQ Body", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  #root {
    min-height: 100vh;
    background-color: #000;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: "USFQ Title", "University Roman", "Baskerville", "Times New Roman", Times, serif;
  }
}


/* Centrado absoluto */
.center-screen {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 50;
}
