@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* src/index.css */

@layer base {
  html, body, #root {
    height: 100%;
  }
  body {
    margin: 0;
    background-color: #000;
  }
  #root {
    min-height: 100vh;
    background-color: #000;
  }
}

body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}


/* Centrado absoluto */
.center-screen {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 50;
}
