@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* src/index.css */


body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}
/* === RESET GLOBAL === */
html, body, #root {
  margin: 0;
  padding: 0;
  min-height: 100dvh; /* mejor en móviles */
  /* NO pongas color aquí para que el Login decida su fondo */
}

/* opcional: si quieres que todas las páginas no-login sean claras por defecto */
body {
  background-color: #f8fafc; /* gris claro tailwind-ish */
}


/* Centrado absoluto */
.center-screen {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 50;
}